<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>What's Steves Page about?</title>

  <head>
<body>
  {{> header}}
  <p> about blockchain<p>
      <p> about technology<p>
  <p>about the future<p>
{{> footer}}

<body>

</html>
